<VirtualHost *:80>
    ServerAdmin {{ phpldapadmin_apache_server_admin }}
    ServerName {{ inventory_hostname }}

    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}
</VirtualHost>

<VirtualHost *:443>
   ServerAdmin '{{ apache_server_admin }}'
   ServerName '{{ inventory_hostname }}'
   DocumentRoot /var/www

   RewriteEngine On
   RewriteRule   "^/$"  "/phpldapadmin/"  [R]
   SSLEngine on
   SSLCertificateFile /etc/letsencrypt/live/{{ inventory_hostname }}/cert.pem
   SSLCertificateKeyFile /etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem

   ErrorLog ${APACHE_LOG_DIR}/error.log
   CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
